.icon{
  position: relative;
    color: #2936b5;
    width: 50px;
}

.minus_icon{
  position: relative;
  color: #ffff;
  padding: 10px;
  border-radius: 50%;
  border: 10px solid;
  background: #2936b5;
}

.add_icon{
  position: relative;
  color: #ffff;
  padding: 10px;
  border-radius: 50%;
  border: 10px solid;
  background: #ea825a;
}